 :root {
     /*шрифти*/
     --main-font: Roboto, serif;
     --secondary-font: Raleway, serif;
     /*колір тексту*/
     --accent-cl: #2196F3;
     --main-txt-col: #212121;
     --secondary-txt-col: #757575;
     /*фон*/
     --main-bg-col: #E5E5E5;
     --secondary-bg-col: #F5F4FA;
     --dark-bg-col: #2F303A;
     /*кнопки*/
     --main-btn-col: #F5F4FA;
     --hero-bg-btn-col: #2196F3;
 }

 body {
     font-family: var(--main-font);
     background-color: var(--main-bg-col);
     color: var(--secondary-txt-col);
 }

 /*навігація*/
 .nav {
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
 }


 /*список*/
 .list {
     list-style-type: none;
 }

 /*кнопки*/
 .btn {
     color: var(--main-txt-col);
     background-color: var(--secondary-bg-col);

 }

 .btn-hero {
     background-color: var(--hero-bg-btn-col);
 }

 .btn:hover,
 .btn:focus {
     color: #FFFFFF;
     background: var(--accent-cl);
 }

 /*лого*/
 .logo-blue {
     color: var(--accent-cl);
     font-family: var(--secondary-font);

     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;
 }

 .logo {
     color: #000000;
     font-family: var(--secondary-font);

     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
     letter-spacing: 0.03em;
 }

 .logo.while {
     color: #FFFFFF;
 }



 /*фони*/
 .section-hero {
     background-color: var(--dark-bg-col);
 }

 .footer {
     background: #2F303A;
 }

 .section-our-team {
     background: #F5F4FA;
 }

 .section-what-we-do {
     background: #E5E5E5;
 }

 .section-preference {
     background: #E5E5E5;
 }

 .section-hero {
     background: #2F303A;
 }

 .header {
     background: #FFFFFF;
 }

 /*текст*/
 .txt {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
 }

 .txt-post {
     font-weight: 400;
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     letter-spacing: 0.03em;
 }

 .txt-address {
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     color: #FFFFFF;
 }

 .txt-projects {

     font-weight: 400;
     font-size: 16px;
     line-height: 1.88;
     letter-spacing: 0.03em;
     color: var(--secondary-txt-col);

 }

 .txt-projects:hover,
 .txt-projects:focus {
     color: var(--accent-cl);
 }


 /*заголовки*/
 .title-hero {
     color: #FFFFFF;
     font-weight: 900;
     font-size: 44px;
     line-height: 1.36;
     text-align: center;
     letter-spacing: 0.06em;
 }

 .title-preference {
     font-family: var(--main-font);
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     color: var(--main-txt-col);
 }

 .title-what-we-do {
     font-family: var(--main-font);
     font-weight: 700;
     font-size: 36px;
     line-height: 1.17;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--main-txt-col);
 }

 .title-our-team {

     font-weight: 700;
     font-size: 36px;
     line-height: 1.17;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--main-txt-col);
 }

 .title-name {

     font-weight: 500;
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--main-txt-col);
 }

 .title-projects {
     font-weight: 700;
     font-size: 18px;
     line-height: 2.0;
     letter-spacing: 0.06em;
     color: var(--main-txt-col);
 }

 .title-projects:hover,
 .title-projects:focus {
     color: var(--accent-cl);
 }



 /*силки*/
 .link {
     color: var(--main-txt-col);
     text-decoration: none;
     font-family: var(--main-font);
     font-weight: 500;
 }

 .link:hover,
 .link:focus {
     color: var(--accent-cl);
 }


 .address {
     color: var(--secondary-txt-col);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
 }

 .phone {
     color: var(--secondary-txt-col);
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
 }

 .link.footer {
     color: var(--secondary-txt-col);
     font-weight: 400;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
 }

 .footer:hover,
 .footer:focus {
     color: var(--accent-cl);
 }